<form class="form-inline" action="/product/search" method="post">
    <select type="text" name="state"  class="py-2 form-control text-center m-1">
        <option value="">Select State</option>
        <option value="India">India</option>
        <option value="Delhi">Delhi</option>
        <option value="Jammu&Kashmir">Jammu&Kashmir</option>
        <option value="Himachal">Himachal</option>
        <option value="Uttrakhand">Uttrakhand</option>
        <option value="Uttar Pradesh">Uttar Pradesh</option>
        <option value="Bihar">Bihar</option>
    </select>
    <select id="category" name="category"class="mx-1 form-control py-2 m-1">
        <option value="">Select Category</option>
        <option value="Automobile">Automobile</option>
        <option value="Furniture">Furniture</option>
        <option value="Book">Books</option>
        <option value="Fashion">Fashion</option>
        <option value="Fitness">Fitness</option>
        <option value="Pets">Pets</option>
    </select>
    <input type="text"  class="form-control" placeholder="Specific Product" name="specific_product">
    <button class="btn btn-outline-success my-2 my-sm-0 m-2" type="submit">Search</button>
</form>