<nav class="navbar navbar-dark bg-dark justify-content-end">
    {{#if r.user}}
        <a href="/profile">hi {{r.user.name}}</a>
    {{/if}}

    <div id="navSearch">{{>adSearch}}</div>
    <a href="/sell">Post a free Ad</a>
    {{#if r.user}}
<!--why r.isAuthenticated is returning false herein case of home page-->
        <a href="/profile/chats">Chats</a>
        <a href="/profile/myadvertisements">My Advertisements</a>
        <a href="/profile/bookmarks">Bookmarked Ads</a>
        <a href="/auth/signout">Logout</a>
    {{else if data.user}}
        <a href="/profile/chats">Chats</a>
        <a href="/profile/myadvertisements">My Advertisements</a>
        <a href="/profile/bookmarks">Bookmarked Ads</a>
        <a href="/auth/signout">Logout</a>
    {{else}}
        <a href="/auth/signin">Signin</a>
        <a href="/auth/signup">Signup</a>
    {{/if}}
</nav>
<style>
    a{
        text-decoration: none !important;
        color: whitesmoke;
        font-size: 14px;
        margin:auto 15px;
    }
    a:hover{
        color: whitesmoke;
    }
</style>

<script>
    if(document.URL==="http://localhost:8888/" || document.URL==="http://localhost:8888/product/search" ){

        console.log($("#navSearch").empty())
    }
</script>


