<nav class="navbar navbar-dark bg-dark justify-content-end">
    {{#if r.user}}
        <a href="/profile"><button class="btn btn-primary">hi {{r.user.name}} </button></a>
    {{/if}}
    <a href="/sell">Post a free Ad</a>
    {{#if r.user}}
<!--why r.isAuthenticated is returning false herein case of home page-->
        <a href="/profile/myadvertisements">My Advertisements</a>
        <a href="/auth/signout">Logout</a>
    {{else if data.user}}
        <a href="/profile/myadvertisements">My Advertisements</a>
        <a href="/auth/signout">Logout</a>
    {{else}}
        <a href="/auth/signin">Signin</a>
        <a href="/auth/signup">Signup</a>
    {{/if}}
</nav>
<style>
    a{
        text-decoration: none !important;
        color: whitesmoke;
        font-size: 20px;
        margin:auto 15px;
    }
    a:hover{
        color: whitesmoke;
    }
</style>


