<nav class="navbar navbar-light bg-light justify-content-between">
    <form class="form-inline" action="/product/search" method="post">
        <select type="text" name="city"  class="py-2 form-control text-center">
            <option value="">Select City</option>
            <option value="India">India</option>
            <option value="Delhi">Delhi</option>
            <option value="Jammu&Kashmir">Jammu&Kashmir</option>
            <option value="Himachal">Himachal</option>
            <option value="Uttrakhand">Uttrakhand</option>
            <option value="Uttar Pradesh">Uttar Pradesh</option>
            <option value="Bihar">Bihar</option>
        </select>
        <select id="category" name="category"class="mx-1 form-control py-2">
            <option value="">Select Category</option>
            <option value="Automobile">Automobile</option>
            <option value="Furniture">Furniture</option>
            <option value="Book">Books</option>
            <option value="Fashion">Fashion</option>
            <option value="Fitness">Fitness</option>
            <option value="Pets">Pets</option>
        </select>

        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a href="/sell"><input type="button" class="btn btn-danger" value="Post a Free Ad"></a>
    {{#if r.isAuthenticated}}
        <a href="/auth/signout"><input type="button" class="btn btn-danger" value="Logout"></a>
    {{else}}
        <a href="/auth/signin"><input type="button" class="btn btn-secondary" value="Signin"></a>
        <a href="/auth/signup"><input type="button" class="btn btn-primary" value="Signup"></a>
    {{/if}}
</nav>


