
{{>navbar}}
<div class="container-fluid " >
    {{#each data as |item|}}
        <a href="#">
            <div class="jumbotron mr-lg-2 py-1">
                <div class="row">
                    <div class="col-3 px-0">
                        <img height="200" width="200" src='/upload/{{item.pimage}}'>
                    </div>
                    <div class="col-6 px-0">
                        <p>{{item.pabout}}</p>
                        <p>{{{item.pname}}}</p>
                    </div>
                    <div class="col">

                        <p>{{{item.pprice}}}</p>
                    </div>
                </div>
            </div>
        </a>
    {{/each}}
</div>
