
{{>navbar}}
<div class="card m-5 bg-light">
    <div class="card-body">
        <div class="row">
            <div class="col-md-8 offset-3">
                {{>adSearch}}
            </div>
        </div>
    </div>
</div>

{{>searchResults}}
<style>
    body{
        background: url("/assets/images/theme.jpg");
        background-size: cover;
    }
</style>

