
{{>navbar}}

    {{#if data.warning}}
        <div class="alert alert-danger" role="alert">
            {{data.warning}}
        </div>
    {{else}}
        {{>searchResults}}
    {{/if}}
<style>
    body{
        background: url("../assets/images/theme.jpg");
    }
</style>






