<nav class="navbar navbar-light bg-light justify-content-between">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search By item">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a href=""><input type="button" class="btn btn-danger" value="Post a Free Ad"></a>
    <a href="/auth/signin"><input type="button" class="btn btn-secondary" value="Signin"></a>
    <a href="/auth/signup"><input type="button" class="btn btn-primary" value="Signup"></a>
</nav>


