
{{>navbar}}

    {{#if data.warning}}
        <div class="alert alert-danger" role="alert">
            {{data.warning}}
        </div>
    {{else}}
        {{>searchResults}}
    {{/if}}
<style>
    body{
        background: url("../assets/images/theme.jpg");
    }
</style>

<script src="/socket.io/socket.io.js"></script>

<script>
    let socket = io.connect('http://localhost:8888/profile/chats');
    socket.on('news', function(data) {
        socket.emit('my other event', {my: 'data'});
    });
</script>
