{{navbar}}
<form action="/product" enctype="multipart/form-data" method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name"  name="name" placeholder="Product Name" autofocus>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="price">Expected Price</label>
                <input type="number" name="price" class="form-control" id="price" placeholder="Expected price">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="abt_product">About Product</label>
                <textarea type="" name="abt_product" class="form-control" id="abt_product" placeholder="About Product"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="user_name">User Name</label>
                <input type="text" class="form-control" id="user_name"  name="user_name" placeholder="User Name" value="{{user.name}}">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="state">State</label>
                <select type="text" name="state"  class="py-2 form-control text-center">
                    <option value="">Select State</option>
                    <option value="India">India</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Jammu&Kashmir">Jammu&Kashmir</option>
                    <option value="Himachal">Himachal</option>
                    <option value="Uttrakhand">Uttrakhand</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="Bihar">Bihar</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="phn">Phone Number</label>
                <input type="number" name="phn" class="form-control" id="phn" placeholder="Phone Number" value="{{user.phn}}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="photo">Select photo</label>
                <input type="file" id="photo" name="photo">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">


                <label for="category">Category </label>
               <!-- <input type="text" id="photo" name="something" placeholder="Category">-->
                <select id="category" name="something">
                    <option value="Automobile">Automobile</option>
                    <option value="Furniture">Furniture</option>
                    <option value="Book">Books</option>
                    <option value="Fashion">Fashion</option>
                    <option value="Fitness">Fitness</option>
                    <option value="Pets">Pets</option>
                </select>

            </div>
        </div>
        <input class="btn btn-primary" type="submit">
    </div>
</form>