<form action="/profile" enctype="multipart/form-data" method="post">
    <label for="photo">Select Photo </label>
    <input type="image" id="photo" name="photo">
    <input type="text" name="something">
    <input type="submit">
</form>