
{{>navbar}}

<div class="container bg-light signin">
    <div id="error" class="row">

    </div>
    <div id="product_signin" class="row">

    </div>
    <form  id="signinForm" method="post" action="/auth/signin">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="Enter email" autofocus>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4  offset-md-4">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                </div>
            </div>
        </div>

        <button type="submit" class="col-md-4 btn btn-success offset-md-4">Submit</button>
    </form>
    <a href="/auth/signup"><input class=" col-md-2 mt-2 offset-md-5 btn btn-light btn-sm" type="button" value="New? Sign up for free here!"></a>

</div>
<script>
    if(document.URL==="http://localhost:8888/auth/signin?ein=true")
    {
        $("#error").append(`<div class="alert alert-danger col-md-4 offset-4" role="alert">
    Credentials are incorrect. Please try again.</div>`)
    }
    if(document.URL==="http://localhost:8888/auth/signin?sell=true")
    {
        $("#product_signin").append(`<div class="alert alert-danger col-md-4 offset-4" role="alert">
Please Signin to post an advertisement.</div>`)
    }


</script>

<style>
    .signin{
        margin-top: 100px;
        padding:10px;
    }
    body{
        background: url("../assets/images/theme.jpg");
    }
</style>

